<h1>Dashboard</h1>

<%= link_to "create an item", new_admin_item_path %><br/>
<%= link_to "create a user", new_admin_user_path %><br/>
<%= link_to "items", admin_items_path %><br/>
<%= link_to "users", admin_users_path %><br/>
