
<% @cart.cart_items.each do |item| %>
  <br/>name:<%= item.name %><br/>
  quantity:<%= item.quantity  %><br/>
<% end %>

<form action="" method="POST">
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_lhGYffcG98KYSEvPZk0PuMGU"
    data-amount="999"
    data-name="Demo Site"
    data-description="Widget"
    data-image="/img/documentation/checkout/marketplace.png"
    data-locale="auto">
  </script>
</form>
